[Unit]
Description=Your App Description
[Service]
Type=Simple
PIDFile=<your app root dir>/gunicorn.pid
User=<your user>
Group=<your user>
EnvironmentFile=/etc/gunicorn/gunicorn.env
WorkingDirectory=<your django app root project directory>
ExecStart=<path to your virtual env>/bin/gunicorn <relative path>.wsgi:application --access-logfile /var/log/gunicorn/dev.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
